<template>
  <script
    type="module"
    src="./public/components/musicTrack/musicTrack.client.js"
  ></script>
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: var(--tertiary-color);
      color: var(--primary-color);
      padding: 1rem;
      border-radius: 0.5rem;
    "
  >
    <template x-for="track in tracks">
      <music-track></music-track>
    </template>
    <button x-on:click="addTrack()" style="width: 100%">+</button>
  </div>
</template>
