<template>
  <div x-bind:class="css.musicTrack">
    <div x-bind:class="css.musicTrackSelectorContainer">
      <div x-bind:class="css.musicTrackSelectorHeader">
        <button x-on:click="removeTrack()">X</button>
      </div>
      <template x-if="selectedType == 'none'">
        <music-track-selector
          x-on:select="handleTypeSelect"
        ></music-track-selector>
      </template>
      <template x-if="selectedType != 'none'">
        <div x-bind:class="css.musicTrackContent">
          <h3 x-text="selectedType"></h3>
          <p x-text="selectedType"></p>
          <p x-text="selectedType"></p>
        </div>
      </template>
    </div>
  </div>
</template>
