<template>
  <div x-bind:class="css.musicTrack">
    <div x-bind:class="css.musicTrackSelectorContainer">
      <div x-bind:class="css.musicTrackSelectorHeader">
        <!-- only show x if its not the first track -->
        <template x-if="selectedType != 'none'">
          <button x-on:click="setTrackToNone()">X</button>
        </template>
        <template x-if="trackIndex > 0 && selectedType == 'none'">
          <button x-on:click="deleteTrack()">delete</button>
        </template>
      </div>
      <div x-cloak x-show="selectedType == 'none'">
        <music-track-selector
          x-on:typeselected="handleTypeSelected"
        ></music-track-selector>
      </div>
      <div x-cloak x-show="selectedType != 'none'">
        <div x-bind:class="css.musicTrackContent">
          <template x-if="selectedType == 'midi'">
            <music-track-type-midi></music-track-type-midi>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
