.musicTrackInfiniteScroll {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: auto;
}

.musicTrackInfiniteScrollHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.musicTrackInfiniteScrollContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  overflow: auto;
}
